<!DOCTYPE html>
<html lang="zn-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初步筛查</title>
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="初步筛查2.css" />
</head>

<body>
    <div class="all" id="app">

        <div class="login" :style="{display:showlogin}">
            <div class="welcome">——欢迎进入字词识读测试——</div>
            <div class="explain">该测试仅限二-五年级，测试过程中请勿截屏！</div>
            <div class="explain1">请确保设备和浏览器录音权限均已开启</div>
            <form class="information">
                <div class="title">请输入测试儿童的出生年月</div>
                <input type="month" class="birth" v-model="birth" />
                <div class="title">请选择测试儿童的年级</div>
                <input type="radio" name="grade" class="Grade" value=2 v-model="grade" checked="checked" />二年级<br>
                <input type="radio" name="grade" class="Grade" value=3 v-model="grade" />三年级<br>
                <input type="radio" name="grade" class="Grade" value=4 v-model="grade" />四年级<br>
                <input type="radio" name="grade" class="Grade" value=5 v-model="grade" />五年级<br>
                <div class="title">请输入家长的联系方式（仅用于接收测试结果）</div>
                <input name="phone" class="phone" type='text' maxlength="11" placeholder="请输入手机号码" v-model="phone"
                    pattern="^1[3-9]\d{9}$" title="手机号格式不正确"></input>
                <br>
                <button @click="submit" class="submit">提交</button>
            </form>
        </div>







        <div class="exam" :style="{display:showexam}">
            <div class="title">{{title}}</div>
            <div class='infro' :style="{visibility:ising}">{{prompt}}</div>
            <div class='infro2' :style="{visibility:ising2}" v-model="countdownTime">——倒计时：{{countdownTime}}秒——</div>
            <div class="question" :style="{width:w}" v-model="w">
                <div class="container" v-if="grade == 2">
                    <img :src="item.src" v-for="(item,index) in url2" :key="item.id" class="img-part"
                        :style='{display: index == currentPartIndex ? "block" : "none"}' mode="widthFix"></img>
                </div>
                <div class="container" v-else-if="grade == 3">
                    <img :src="item.src" v-for="(item,index) in url3" :key="item.id" class="img-part"
                        :style='{display: index == currentPartIndex ? "block" : "none"}' mode="widthFix"></img>

                </div>
                <div class="container" v-else-if="grade == 4">
                    <img :src="item.src" v-for="(item,index) in url4" :key="item.id" class="img-part"
                        :style='{display: index == currentPartIndex ? "block" : "none"}' mode="widthFix"></img>
                </div>
                <div class="container" v-else if="grade == 5">
                    <img :src="item.src" v-for="(item,index) in url5" :key="item.id" class="img-part"
                        :style='{display: index == currentPartIndex ? "block" : "none"}' mode="widthFix"></img>
                </div>
            </div>

            <p v-if="!hasPermission">请允许麦克风权限以进行录音。</p>
            <button class="start" @click="startRecording"
                :disabled="isrecording || recorderCount >=2">{{str}}录音(剩余机会：{{count}})</button>
            <button class="finish" @click="stopRecording" :disabled="!isrecording">结束录音</button><br>
            <button class="play" @click="playRecording" :hidden="!isShow" :disabled="!audioChunks.length">播放录音</button>
            <button class="next" @click="nextPart" :hidden="!isShow || currentPartIndex == length-1">下一页</button>
            <button class="end" @click="Finish" v-if="isShow && currentPartIndex == length-1">完成测试</button>

            <div>
                <audio ref="audio" :src="audioUrl" controls :hidden="!isShow"
                    style="position: fixed;bottom:20px;right:20px;"></audio>
            </div>
        </div>





        <div class="finishpage" :style="{display:showfinish}">
            <img src="images/smile.png" class="smile"></img>
            <div class="title">测试完成</div>
            <div class="explain">(测试结果将在48h内通过短信发送给您)</div>
            <div class="advertise">关注下列公众号，获取更多信息~</div>
            <img src="images/QR.png" class="QR"></img>
            <button @click="Back" class="back"><a href="index.html">返回首页</a></button>
        </div>
    </div>
</body>



<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            showlogin: 'block',
            birth: '',
            grade: 2,
            phone: '',

            showexam: 'none',
            url2: [
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=e09529805defa344b9a00072b7b8d354&t=1725293766", id: 1 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=4510c4aeaa20a09a4ca580ea11e1afdc&t=1725293785", id: 2 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=602efb1f205e9ccef0181e3a9dba4bc1&t=1725293799", id: 3 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=36a18f9098ebceb96fabf1e168b25cdb&t=1725293815", id: 4 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=abe7acb63a09935be13b5e7153d9efc0&t=1725293828", id: 5 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=ae1984f58f228e8d0c2bc4704169a4d6&t=1725293844", id: 6 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=c62dd3dd5852b4a401c79ea57aca5839&t=1725293880", id: 7 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%882%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=1e9408b1abd0d5ea8b0d7f6e0766f985&t=1725293895", id: 8 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=094ea3a803e3ac0a8554d1481c220c0f&t=1725294364", id: 9 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=1851c0b1dcba30618ab41d3660aea3fc&t=1725294376", id: 10 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=4e814a0569bcd83c5ebbbe871928213d&t=1725294387", id: 11 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=742565d73fef1d7e89b7572259e6dcb7&t=1725294401", id: 12 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=496e3ccb2a1e7988324d59c5c96a554f&t=1725294411", id: 13 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=b1661af3d94ca2347b52d89c27523a84&t=1725294421", id: 14 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=aac0f70695f17f2a03d375e181659ef1&t=1725294431", id: 15 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%882%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=62205b441a8c6f3f97e1eeeff2c30e84&t=1725294443", id: 16 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/OMR.jpg?sign=7343753b00f2c9e18d6d03aac17d573f&t=1725294319", id: 17 },
            ],
            url3: [
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=edea9d85e9f81f5d6a222e650aac0f6f&t=1725293922", id: 1 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=3cf15668178a5d658d18bb53fc5b5e12&t=1725293943", id: 2 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=5f5654f263fbf10b1d714a741ccb352b&t=1725293961", id: 3 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=aa47d4c1791f0ff866f9f9c77a2bc856&t=1725293971", id: 4 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=05247bb3ddeae0cadaf135e2a4471323&t=1725294047", id: 5 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=dd3fd1264248552ec7124ea821786bf5&t=1725294059", id: 6 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=5fae1711d2a82ea30c9530d0bd2a4944&t=1725294072", id: 7 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%883%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=57a712955a858a70ccc3d5f16bd917cf&t=1725294085", id: 8 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=b3e3a2526081c7ee3f234157acfd0515&t=1725294462", id: 9 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=206c39f6d7f5d4f34fe7509be6fc6e9e&t=1725294473", id: 10 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=aa3cd138d1c5906ad3ed38a654570cda&t=1725294485", id: 11 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=456913b7fb87155d6495916ca3ddd711&t=1725294497", id: 12 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=dbadae905f55870c916d52a62781d89d&t=1725294506", id: 13 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=e1dc278c97c6a82bc6f52afd7094237c&t=1725294516", id: 14 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=787358eaaa59022fb0e539f41c799d51&t=1725294531", id: 15 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%883%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=5308b8a82d2f2cce9eacf28db5077655&t=1725294543", id: 16 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/OMR.jpg?sign=7343753b00f2c9e18d6d03aac17d573f&t=1725294319", id: 17 },
            ],
            url4: [
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=7b075529009a7f4f718097804a0373a8&t=1725294098", id: 1 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=436a279653995920590a219a9729d47d&t=1725294119", id: 2 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=0b8f9e3782fd9c373783751ed5293afa&t=1725294131", id: 3 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=0cabdc7f0d62c11493eed04d41b5005e&t=1725294148", id: 4 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=b572cda30c2c4fd4c05126df3a200c18&t=1725294158", id: 5 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=992b39ccdd6d242548031cfe5e6fc0e4&t=1725294172", id: 6 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=ec247d9270a09ff7d7e7212ee1e0a651&t=1725294185", id: 7 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%884%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=351c03b8f681d852253becfc9dfbc1a5&t=1725294204", id: 8 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=4a1299dfe0bd187be038b0ad5fcd98a2&t=1725294559", id: 9 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=80be90e65899dd6eed709f97854bf7ea&t=1725294575", id: 10 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=f576d551ba04b204238538242f575ed7&t=1725294585", id: 11 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=426907b69f434da2f6498bfd96a21f38&t=1725294594", id: 12 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=8fcfc34c68835cfa84ef4e9977b33dac&t=1725294604", id: 13 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=a0ffa2eb70fb14314c4d5fd6487724a1&t=1725294616", id: 14 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=5c7bb3cb0cadfd47f4bfa40276704ada&t=1725294625", id: 15 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%884%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=69b1f479cc97bd52780eced7567f799d&t=1725294635", id: 16 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/OMR.jpg?sign=7343753b00f2c9e18d6d03aac17d573f&t=1725294319", id: 17 },
            ],
            url5: [
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=896c61b15655bed817d2d45035f7bb65&t=1725294215", id: 1 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=a0c09d4d9d42eeda7ea65985560536a2&t=1725294228", id: 2 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=eae644d82621e84665361a2141ed6ef6&t=1725294237", id: 3 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=a074a0f30d93343bc6492e2b8da93b68&t=1725294247", id: 4 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=2e98baacad252f2d15d36534bd1677e6&t=1725294267", id: 5 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=5baf31c8afeb74f99f7121e5e84ec340&t=1725294282", id: 6 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=c87eff74e958e7e1221ff7f7ba6e16ed&t=1725294299", id: 7 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/CNT%EF%BC%885%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=a656e3536f64ee44559db3d4e3a20d5c&t=1725294310", id: 8 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A71%EF%BC%89.png?sign=254dff6308de6b43ca0b8db409f3e151&t=1725294650", id: 9 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A72%EF%BC%89.png?sign=8e5e4722d2e90c53c6729e7984c25370&t=1725294663", id: 10 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A73%EF%BC%89.png?sign=c75e7a8ed05bbc4bcd77fd99fe32213e&t=1725294676", id: 11 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A74%EF%BC%89.png?sign=77cb731e6cf9fddde77e96348fbb41bb&t=1725294690", id: 12 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A75%EF%BC%89.png?sign=202450f83ed13560b0ab6e24f3d2045b&t=1725294702", id: 13 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A76%EF%BC%89.png?sign=9e51c7dce4abb578340120b2c06e44ba&t=1725294712", id: 14 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A77%EF%BC%89.png?sign=3f9c0a967cba2cea020bbf5ade04cae3&t=1725294726", id: 15 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/WNT%EF%BC%885%E5%B9%B4%E7%BA%A78%EF%BC%89.png?sign=882630efc573a26b2a06e5259e9e64cf&t=1725294735", id: 16 },
                { src: "https://7a71-zqwa-6gb80gqb9331ee5b-1328769784.tcb.qcloud.la/images/OMR.jpg?sign=7343753b00f2c9e18d6d03aac17d573f&t=1725294319", id: 17 },
            ],
            w: '800px',
            title: '请依次读出下列字',
            prompt: '——正在录音中——',
            currentPartIndex: 0,
            isShow: false,
            ising: 'hidden',
            ising2: 'hidden',
            recorderCount: 0,
            isrecording: false,
            mediaRecorder: null,
            audioChunks: [],
            audioUrl: null,
            hasPermission: null,
            length: 17,
            countdownTime: 60,
            timer: null,
            isCounting: false,
            str: '开启',
            playing: false,

            showfinish: 'none',
        },
        computed: {
            count() {
                return 2 - this.recorderCount;
            }
        },
        methods: {
            submit() {
                if (this.birth == '') {
                    alert('未填写出生年月');
                    return;
                }
                if (this.phone == '') {
                    alert('未填写手机号码');
                    return;
                }
                const regex = /^1[3-9]\d{9}$/;
                if (!regex.test(this.phone)) {
                    alert('手机号码格式不正确');
                    return;
                }
                event.preventDefault();
                console.log(this.birth);
                console.log(this.phone);
                console.log(this.grade);
                this.showlogin = 'none';
                this.showexam = 'block';
            },

            async checkPermission() {
                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    try {
                        await navigator.mediaDevices.getUserMedia({ audio: true });
                        this.hasPermission = true;
                    } catch (err) {
                        this.hasPermission = false;
                        alert("用户拒绝访问麦克风。", err);
                    }
                } else {
                    alert("浏览器不支持 getUserMedia API");
                    this.hasPermission = false;
                }
            },
            //倒计时
            startCountdown: function () {
                let that = this;
                let Count = 60;
                this.countdownTime = Count;
                this.isCounting = true;
                this.timer = setInterval(function () {
                    Count--;
                    that.countdownTime = Count;
                    if (Count <= 0) {
                        clearInterval(that.timer);
                        that.countdownTime = 60;
                        that.isCounting = false;
                        that.timer = null;
                        that.ising2 = 'hidden';
                        that.stopRecording();
                        alert('时间到');
                    }
                }, 1000);
            },
            startRecording() {
                if (!this.hasPermission) {
                    alert("请先允许麦克风权限！");
                    return;
                }
                if (this.isShow) {
                    this.isShow = false;
                }

                this.isrecording = true;
                this.audioChunks = [];

                const stream = navigator.mediaDevices.getUserMedia({ audio: true });
                stream.then(stream => {
                    this.mediaRecorder = new MediaRecorder(stream);
                    this.mediaRecorder.ondataavailable = event => {
                        this.audioChunks.push(event.data);
                    };
                    this.mediaRecorder.onstop = () => {
                        const audioBlob = new Blob(this.audioChunks, { type: 'audio/wav' });
                        this.audioUrl = URL.createObjectURL(audioBlob);
                        this.isrecording = false;
                    };
                    this.mediaRecorder.start();
                    if (this.currentPartIndex === this.length - 1) {
                        this.startCountdown();
                        this.ising2 = 'visible';
                    } else {
                        this.ising = 'visible';
                        this.prompt = '——正在录音中——';
                    }
                    this.recorderCount = this.recorderCount + 1;
                    this.str = '重新'

                }).catch(err => {
                    console.error("获取麦克风失败：", err);
                    this.isrecording = false;
                });
            },
            stopRecording() {
                if (this.mediaRecorder) {
                    this.mediaRecorder.stop();
                }
                if (this.currentPartIndex === this.length - 1) {
                    clearInterval(this.timer);
                    this.isCounting = false;
                    this.countdownTime = '60秒';
                    this.timer = null;
                    this.ising2 = 'hidden';
                    this.isShow = true;
                } else {
                    this.ising = 'hidden';
                    this.isShow = true;
                }
            },
            playRecording() {
                if (this.$refs.audio) {
                    this.$refs.audio.play();
                    this.playing = true;
                }
            },

            uploadRecording: function (filePath) {
                console.log('上传')
            },

            nextPart: function () {
                let nextIndex = (this.currentPartIndex + 1) % this.length;
                this.currentPartIndex = nextIndex;
                this.isShow = false;
                this.isrecording = false;
                this.recorderCount = 0;
                this.str = '开启';
                this.ising = 'hidden';
                if (nextIndex === 8) {
                    this.title = '请依次读出下列词语';
                    this.w = '1200px';
                }
                if (nextIndex == 16) {
                    this.title = '请从左到右，再从上往下，一行一行依次读出下列词语';
                    this.w = '800px';
                }
                console.log(this.currentPartIndex);
            },
            Finish: function () {
                this.showexam = 'none';
                this.showfinish = 'block';

            },
            Back: function () {
                this.showfinish = 'none';
                this.showlogin = 'block';
            }
        },
        mounted() {
            this.checkPermission();
        },
    })






    document.querySelector('.SOURCE').addEventListener('mouseover', function () {
        var sourcemore = document.querySelector('.sourcemore');
        if (sourcemore.style.display === 'none') {
            sourcemore.style.display = 'block';
        } else {
            source.style.display = 'none';
        }
    });
    document.querySelector('.sourcemore').addEventListener('mouseover', function () {
        var sourcemore = document.querySelector('.sourcemore');
        if (sourcemore.style.display === 'none') {
            sourcemore.style.display = 'block';
        } else {
            source.style.display = 'none';
        }
    });
    document.querySelector('.sourcemore').addEventListener('mouseout', function () {
        var sourcemore = document.querySelector('.sourcemore');
        if (sourcemore.style.display === 'block') {
            sourcemore.style.display = 'none';
        } else {
            source.style.display = 'block';
        }
    });
    document.querySelector('.SOURCE').addEventListener('mouseout', function () {
        var sourcemore = document.querySelector('.sourcemore');
        if (sourcemore.style.display === 'block') {
            sourcemore.style.display = 'none';
        } else {
            source.style.display = 'block';
        }
    });
</script>

</html>