<!DOCTYPE html>
<html lang="zn-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资源中心</title>
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="详情.css" />
</head>

<body>
    <div class="all" id="app">
        <!--头部-->
        <div class="header">
            <!--logo-->
            <div class="logo">
                <a href="index.html">
                    <img src="images/logo1.png" />
                </a>
            </div>
            <!--导航栏-->
            <div class="daohanglan">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="初步筛查.html">筛查诊断</a></li>
                    <li><a href="资源中心.html" class="shouye">资源中心</a></li>
                    <li><a href="家庭指导.html">家庭指导</a></li>
                    <li><a href="https://whyffish.github.io/Wisdom-Spectrum-Forum/">智启论坛</a></li>
                    <li><a href="用户反馈.html">用户反馈</a></li>
                    <li><a href="问答.html">AI助手</a></li>
                </ul>
            </div>
            <!--检索-->
            <div class="search">
                <input type="text" placeholder="搜一搜">
                <span></span>
            </div>
            <div class="login" :style="{display:unlogining}">
                <a href="login.html">登录/注册</a>
            </div>
            <div class="login" :style="{display:logining}">
            </div>
        </div>



        <div style="background-color: rgb(255, 250, 244);margin: 100px auto;width: 1000px;">
            <div class="news" :style="{display:news}">
                <div v-for="item in newslist" :key="item.id">
                    <div v-if="item.id == ID">
                        <div class="title" :style="{fontSize: f1 + 'px'}">{{item.title}}</div>
                        <div v-for="item in item.content" style="text-align: center;">
                            <div class="t" v-if="item.t" :style="{fontSize: f3 + 'px'}">{{item.t}}</div>
                            <img v-if="item.src" :src="item.src" mode="aspectFit" style="margin-top: 30px;" />
                            <div class="a" v-if="item.a" :style="{fontSize: f3 + 'px'}">{{item.a}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book" :style="{display:book}">
                <div class="page" v-for="item in booklist" :key="item.id">
                    <div v-if="ID == item.id">
                        <div class="title" :style="{fontSize: f1 + 'px'}">{{item.title}}</div>
                        <div class="explaincontain" style="text-align: center;margin-top: 30px;">
                            <div class="explain" v-for="item in item.explain" :key="item.index"
                                style="display: inline;margin-right:50px;color: rgb(171, 170, 169);"
                                :style="{fontSize: f3 + 'px'}">{{item.e}}</div>
                        </div>
                        <div style="text-align: center;">
                            <div class="intro" :style="{fontSize: f3 + 'px'}"
                                style="text-align: left;margin-top: 30px;text-indent: 2em;line-height: 26px;">
                                {{item.intro}}</div>
                            <img :src="item.src" mode="aspectFit" style="margin-top: 30px;" />
                            <div class="content" v-for="it in item.content" :key="it.index">
                                <div class="t" :style="{fontSize: f2 + 'px'}">{{it.t}}</div>
                                <div class="a" user-select="true" :style="{fontSize: f3 + 'px'}">{{it.a}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="success" :style="{display:success}">
                <div v-for="item in successlist" :key="item.id">
                    <div v-if="item.id == ID">
                        <div class="title" :style="{fontSize: f1 + 'px'}">{{item.title}}</div>
                        <div v-for="it in item.content" style="text-align: center;">
                            <div class="t" v-if="it.t" :style="{fontSize: f3 + 'px'}">{{it.t}}</div>
                            <img v-if="it.src" :src="it.src" mode="aspectFit" style="margin-top: 30px;" />
                            <div class="a" v-if="it.a">{{it.a}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <!--footer-->
        <div class="footer">
            <div class="top">
                <ul>
                    <li>
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo1.png" />
                            </a>
                        </div>
                    </li>
                    <li class="mid">
                        <div>(邮编)xxxxxxxxxxxxxxxxxx
                            xxxxxxxxx</div>
                        <div>(电话)xxxxxxxxxxxxxxxxxx</div>
                        <div>(地址)xxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxx
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="images/QR.png" style="max-width: 100%;max-height: 100%;"></div>
                        <div class="icon"><img src="images/QR.jpg"
                                style="max-width: 100%;max-height: 100%;margin-left: 20px;">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <p>
                    <a href="#" target="-blank">关于我们</a> |
                    <a href="#" target="-blank">帮助中心</a> |
                    <a href="#" target="-blank">免责声明</a> |
                    <a href="#" target="-blank">商务合作</a> |
                    <a href="#" target="-blank">友情链接</a>
                </p>
                <p>
                    CopyRight @
                </p>
            </div>
        </div>


        <div class="x" @click="add"
            style="background-color: rgb(220, 220, 147,.4);width: 60px;height: 60px;border-radius: 50%;font-size: 40px;line-height: 60px;position: fixed;bottom: 50px;right: 150px;text-align: center;">
            +
        </div>
        <div class="x" @click="reduce"
            style="background-color: rgb(220, 220, 147,.4);width: 60px;height: 60px;border-radius: 50%;font-size: 40px;line-height: 60px;position: fixed;bottom: 50px;right: 50px;text-align: center;">
            -
        </div>
        <div class="speak" @click="speak"
            style="background-color: rgb(167,212,197,.4);width: 60px;height: 60px;border-radius: 50%;font-size: 40px;line-height: 60px;position: fixed;bottom: 150px;right: 50px;text-align: center;">
            <img src="./images/speak.png" style="width:30px;height: 30px;margin-top: -5px;" />
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            ID: 1,
            news: "none",
            book: "none",
            success: "none",
            f1: 36,
            f2: 28,
            f3: 16,
            newslist: [
                {
                    id: 1,
                    title: "广东省“十四五”特殊教育发展提升行动计划",
                    content: [
                        { t: "《广东省“十四五”特殊教育发展提升行动计划》旨在贯彻落实《国务院办公厅关于转发教育部等部门“十四五”特殊教育发展提升行动计划的通知》精神，促进特殊教育事业发展，结合实际，制定的行动计划。" },
                        { t: "为认真贯彻落实《国务院办公厅关于转发教育部等部门“十四五”特殊教育发展提升行动计划的通知》（国办发〔2021〕60号）精神，切实保障残疾人受教育权利，促进特殊教育事业发展，结合我省实际，制定本行动计划。" },
                        { t: "一、总体目标" },
                        { t: "以习近平新时代中国特色社会主义思想为指导，深入贯彻落实党的十九大和十九届历次全会精神，全面贯彻党的教育方针，落实立德树人根本任务，遵循特殊教育规律，以适宜融合为目标，加快健全特殊教育体系，完善特殊教育保障机制，提高特殊教育质量，促进残疾儿童青少年实现最大限度的发展，努力使残疾儿童青少年成长为国家有用之才。到2025年，高质量的特殊教育体系初步建立，残疾儿童少年义务教育入学率达到97%，珠三角和粤东西北地区持证残疾幼儿学前三年入园率分别达到90%和85%以上，高中教育阶段残疾学生入学机会明显增加。教育质量全面提升，课程教学改革不断深化，网络资源平台应用全面推进，课程教学资源体系和质量监测评价体系基本建立。融合教育全面推进，普通教育、职业教育和医疗康复、信息技术与特殊教育进一步融合。特殊教育教师队伍建设进一步加强，专业水平进一步提升，办学条件全面改善，积极推动残疾学生15年免费教育，保障机制进一步完善。" },
                        { t: "逐步扩展特殊教育服务对象。各地应将学习障碍、情绪与行为障碍等特殊教育需要儿童纳入特殊教育服务范围，参照随班就读学生标准提供各类支持资源。研究制定特殊教育需要儿童学习发展指南，通过巡回指导等形式提供融合教育支持。合理布局孤独症儿童特殊教育学校，支持各地试点建设孤独症儿童特殊教育学校（部）。加强孤独症儿童教育研究，积极开发孤独症儿童教育教学资源，努力满足其就学需求。逐步建立助教陪读制度，为特殊教育需要儿童接受高质量教育提供专业支持。" },
                    ]
                },
                {
                    id: 2,
                    title: "深圳市医师协会儿童健康专业委员会学习障碍专业组成立大会暨学习障碍诊疗新进展研讨班顺利召开",
                    content: [
                        { t: "为了推动儿童学习障碍相关领域专业人士的交流学习和学术合作，提高大家对学习障碍的认知及诊疗服务水平，由深圳市医师协会、深圳市医师协会儿童健康专委会主办，深圳市罗湖区妇幼保健院、深圳市妇幼保健院承办的“深圳市医师协会儿童健康专委会学习障碍专业组成立大会暨学习障碍诊疗新进展研讨班”在深圳市富临大酒店隆重召开。" },
                        { t: "本次专业组成立大会由135名专业组成员表决推选深圳市罗湖区妇幼保健院儿童保健科李丽主任为深圳市医师协会儿童健康专委会学习障碍专业组组长，并推选出副组长11名，秘书1名。" },
                        { t: "成立大会结束后举办了学习障碍诊疗新进展研讨班，邀请国内知名专家授课，分别为华中科技大学同济医学院教授/博士生导师宋然然教授结合其研究团队多年研究成果，讲授了汉语阅读障碍的早期筛查与识别；深圳大学詹勇副教授详细讲述了中文读写障碍的评估及干预；北京大学第六医院王久菊教授系统化介绍了阅读障碍的产生机制及临床诊疗流程；深圳市罗湖区妇幼保健院儿童保健科主任李丽主任医师结合自身多年临床工作经验对学习障碍儿童的临床诊断、表现及干预做了详细介绍；罗湖区妇幼保健院儿童保健科陈艳琳副主任医师及南山区妇幼保健院赵刚博士分别就学习障碍共患行为问题、注意缺陷多动障碍（ADHD）的临床诊疗展开探讨。本次学习班为线下会议，参会人数150人，各位专家的授课内容都十分精彩实用，引起各学员的热烈反响和讨论。下图是部分老师现场授课图。" },
                    ]
                },
                {
                    id: 3,
                    title: "2024年广东省特殊教育学校骨干 教师示范培训课开班﹣﹣正式开班 ",
                    content: [
                        { t: "为加强广东省特殊教育师资队伍建设，全面提升特殊教育质量，2024年8月30日，广东省特殊教育学校骨干教师示范培训班在岭南师范学院正式启航。此次培训汇聚了全省特殊教育领域的精英骨干，他们将在接下来的时间里，共同学习、交流、成长，为特殊教育事业的繁荣发展贡献自己的力量。" },
                        { t: "负责人卢祖琴老师再次对于省培课程的精心设计进行解读，从具备丰富经验的一线教师到特教届家喻户晓的大咖，每一堂课程的设计都结合了100位学员的前期调研与实际需求，让个性化教学策略落实到省培课程设计的每一个细节中。学员也深感本次课程的良苦用心，满怀期待的投入这段为期7天的学习旅程中。" },
                        { t: "来自江门市特殊教育学校的史飞鸽作为学员代表发言。她首先代表全体学员感谢了承办本次培训活动的岭南师范学院教育科学学院，同时对培训的领导、专家以及工作人员表示了感谢。她还指出，本次培训活动为参训的学员提供了精心设计的课程，全体学员一定会端正态度、认真学习，将宝贵的知识带回工作中，为广东省特殊教育的发展添砖加瓦！" },
                    ]
                },
                {
                    id: 4,
                    title: "少年何愁？守护青少年的心灵净土，佛山这样做→",
                    content: [
                        { t: "常言道，“少年不识愁滋味”，然而当下，焦虑、抑郁、暴躁、厌学、学习障碍等儿童青少年心理健康问题频发，如何为少年解愁成为不可忽视的社会议题。" },
                        { t: "在2024年佛山市青少年心理健康防护工作推进会议暨心理危机干预专项培训活动上，记者了解到，近年来，佛山不断完善学校、家庭、社会和相关部门协同联动、全民参与的学生心理健康工作新格局，守护青少年的心灵净土。" },
                        { t: "家长与孩子之间，老师与孩子之间，不仅仅需要“爱”，还需要尊重、理解和适当的沟通技巧。“我们发现，近年来，不少孩子跟我们反馈家庭矛盾影响亲子关系，而他们的很多心理问题正是源于此，所以我们这几年做的一个重要工作就是搭建我们的家校课程。”佛山市华英学校德育处主任谭颂介绍，学校通过心育融合路径、心理健康课程、心理守护系统的深度融合，为学生的心育提供保障。在家校服务方面，学校搭建家校共育平台，打造英才父母学院，推出正面管教成长营，为家长提供全方位、全时段、全覆盖的家庭教育指导，帮助家长树立科学的育儿观念。" },
                        { t: "“学校作为教育的主阵地，要联动其他部门，形成信息互通的交流机制。”南海区教育局副局长田树民介绍，今年上半年全区学校成功干预学生心理危机事件有100多起，这得益于各部门的共同干预，畅通学校、家庭、社会、职能部门以及相关心理诊治部门的转介渠道，共同解决学生的心理健康问题。目前，佛山市共有4家公立精神专科医院设立了专门的儿童心理科，开展儿童青少年常见心理疾病的早期干预工作。" },
                        { t: "佛山通过开展丰富多彩的社会活动，让孩子们感受到来自全社会的关爱。寒暑假期间，佛山市妇女联合会指导各级妇联在妇女之家、儿童活动园地等阵地，开展参观体验、研学实践、安全教育等主题活动，让学生度过有意义的假期。此外，共青团佛山市委员会则组织心理咨询师、律师进学校进社区，开展心理知识科普宣传、反对校园欺凌行动等服务，年均开展“青春自护”等系列活动100场次。" }
                    ]
                },
                {
                    id: 5,
                    title: "“眼动追踪术:读写障碍识别的魔法钥匙”",
                    content: [
                        { src: "./images/新闻51.png" },
                        { t: "在这个急速发展和技术革新的时代，评估读写障碍学生的方式看起来和过去没什么两样：当一个孩子在读写方面遭遇了异常困难，其家长和老师坐到一起，收集信息并评估孩子的优势和劣势，以确诊和制定适当的干预方案。通常来说，这些都是通过纸质测试完成的——尽管现在预测分析被越来越多地使用于学校中了，各种测试仪器看起来比教室里的孩子还多。" },
                        { t: "在这个急速发展和技术革新的时代，评估读写障碍学生的方式看起来和过去没什么两样：当一个孩子在读写方面遭遇了异常困难，其家长和老师坐到一起，收集信息并评估孩子的优势和劣势，以确诊和制定适当的干预方案。通常来说，这些都是通过纸质测试完成的——尽管现在预测分析被越来越多地使用于学校中了，各种测试仪器看起来比教室里的孩子还多。" },
                        { t: "现可通过电脑和眼动追踪摄像机，对每一个学生进行测试，以此找出少部分可能有读写障碍倾向的孩子。作为一个筛查工具，其主要目的是在早期就能找到那些有阅读障碍倾向的孩子。该技术是通过对先前几十年研究的深入挖掘而来的，这些研究通常支持使用眼动追踪和机器学习相结合的方式来筛查读写障碍。" },
                        { t: "英国伯恩茅斯大学的心理学教授 Julie Kirkby，多年来潜心研究眼动追踪与读写障碍。她指出：“眼球运动是深度衡量阅读能力的最好方式之一”。" },
                        { src: "./images/新闻52.png" },
                        { t: "用眼动追踪技术识别读写障碍者，其精确度达80%。另外一项被称为 Optolexia 的研究显示，其精确度达95%。读写障碍风险低的读者在扫视文字时，倾向于进行更为先进的移动——从左到右；而有读写障碍的读者会进行更多的倒退运动——从右到左运动——并且在阅读过程中不会像非读写障碍者一样有常规停顿（或注视）。" },
                        { t: "用眼动追踪技术识别读写障碍者，其精确度达80%。另外一项被称为 Optolexia 的研究显示，其精确度达95%。读写障碍风险低的读者在扫视文字时，倾向于进行更为先进的移动——从左到右；而有读写障碍的读者会进行更多的倒退运动——从右到左运动——并且在阅读过程中不会像非读写障碍者一样有常规停顿（或注视）。" },
                        { t: "利用眼睛和大脑之间复杂的联系，研究人员和医疗专业人员正在革新大脑疾病的早期检测、监测和治疗评估，从而最终提高人类的生活质量。" },
                        { src: "./images/新闻53.png" }
                    ]
                },
                {
                    id: 6,
                    title: "教育部积极回应人大代表建议:强化特殊教育支持,助力学习障碍儿童随班就读新举措",
                    content: [
                        { t: "教育部高度重视融合教育工作，会同相关部门加大对各地开展随班就读、推进融合教育的指导和支持力度，不断完善融合教育的支持保障体系。目前，我国已基本形成以普通学校随班就读和附设特教班为主体，以特殊教育学校为骨干，以送教上门和远程教育等形式为补充的特殊教育发展格局。2017年，全国共有残疾学生57.88万人，其中，普通学校随班就读和附设特教班就读学生30.43万，占52.6%。" },
                        { src: "./images/新闻6.png" },
                        { t: "一、关于加大特殊教育教师培养培训力度" },
                        { t: "国家高度重视特殊教育教师培养培训。一是加大特殊教育教师培养力度。2012年，教育部会同国家发展改革委、中国残联启动实施“特殊教育学校建设二期”专项，中央财政投入12.5亿元，重点支持25所高校特殊教育专业建设。2017年，全国共有46所本专科高校招收特殊教育专业学生4700余人。二是实施卓越教师培养计划。2014年，教育部启动实施卓越教师培养计划，分类推进卓越教师培养模式改革。其中，卓越特殊教育教师培养重点探索师范院校与医学院校联合培养机制、特殊教育知识技能与学科教育教学融合培养机制，坚持理论与实践结合，促进学科交叉，培养一批富有爱心、素质优良、具有复合型知识技能的卓越特殊教育教师。目前，华东师范大学、重庆师范大学等5所师范院校正在实施卓越特殊教育教师培养改革项目。三是重视特殊教育教师培训工作。从2012年开始，在“国培计划”—示范性项目中专门设置了特殊教育骨干教师培训。2012—2017年，对7450余名特殊教育学校骨干教师进行了集中培训。四是制定特殊教育专业认证标准。为规范师范类专业办学，建立教师教育质量保障制度，2017年，教育部印发了《普通高等学校师范类专业认证实施办法（暂行）》（教师〔2017〕13号），积极制订特殊教育专业认证标准，推进特殊教育专业建设。" },
                        { src: "./images/新闻61.png" },
                        { t: "二、关于加强师范生和在职教师融合教育理念和能力建设" },
                        { t: "一是在师范生培养中增加融合教育相关内容。推动普通师范院校和综合性院校的师范专业试点开设特教课程，培养师范生的融合教育理念和指导残疾学生随班就读的教学能力。同时，鼓励培养院校在教育硕士专业学位研究生课程体系中开设特殊教育课程，将特殊教育学分列入教育硕士必修学分。二是在“国培计划”中增加融合教育教师培训。在“国培计划”中设立特殊教育骨干教师培训项目，增加融合教育培训内容。同时将特殊教育相关内容纳入“国培计划”有关培训中，着力增强教师的融合教育理念和指导残疾学生随班就读的教学能力，为中小学培训了一批特殊教育“种子”教师。" },
                        { src: "./images/新闻62.png" },
                        { t: "三、关于发展融合教育的法律政策规定" },
                        { t: "《义务教育法》第十九条规定，“普通学校应当接收具有接受普通教育能力的残疾适龄儿童、少年随班就读，并为其学习、康复提供帮助”。新修订并于2017年5月1日施行的《残疾人教育条例》第三条规定，“残疾人教育应当提高教育质量，积极推进融合教育，根据残疾人的残疾类别和接受能力，采取普通教育方式或者特殊教育方式，优先采取普通教育方式”。《国家中长期教育改革和发展规划纲要（2010—2020年）》指出，各级各类学校要积极创造条件接收残疾人入学，不断扩大随班就读和普通学校特教班规模。《特殊教育提升计划（2014—2016年）》提出，“全面推进全纳教育，使每一个残疾孩子都能接受合适的教育”。" },
                        { src: "./images/新闻63.png" },
                        { t: "四、关于加强普通学校融合教育支持系统建设等" },
                        { t: "教育部高度重视普通学校融合教育支持系统建设。一是加强普通学校特殊教育资源教室建设。2016年，教育部印发《普通学校特殊教育资源教室建设指南》（教基二厅〔2016〕1号），要求招收5人以上残疾学生的普通学校设立资源教室，配备专兼职教师，着力扩大普通学校随班就读规模。二是加强特殊教育资源中心建设。2017年，教育部等七部门联合印发《二期计划》明确提出，支持特殊教育学校建立特殊教育资源中心，提供包括相关教学研究在内的特殊教育指导和支持服务。没有特殊教育学校的区县，依托有条件的普通学校，整合相关方面的资源建立特殊教育资源中心。三是健全特殊教育专业支撑体系。教育部指导各地按照《二期计划》的要求，以区县委单位，建立由教育、心理、康复、社会工作等方面专家组成的残疾人教育专家委员会，健全残疾儿童入学评估机制，完善教育安置办法。四是发挥中央专项资金示范引领作用。中央财政特殊教育专项补助资金重点支持特殊教育资源中心、普通学校资源教室配备特殊教育教学和康复设备等。" },
                        { src: "./images/新闻64.png" },
                    ]
                }
            ],
            booklist: [
                {
                    id: 1,
                    title: "《A Walk in the Words》",
                    explain: [{ index: 1, e: "作者：Hudson Talbott" }],
                    src: "./images/儿童阅读1.png",
                    intro: "《A Walk in the Words》是由美国作家和插画家Hudson Talbott创作的一部儿童绘本。Hudson Talbott以其独特的艺术风格和对细节的精细描绘而闻名，他的作品常常充满想象力和创意。《A Walk in the Words》也不例外，它是一本充满视觉和语言魅力的绘本，旨在激发孩子们对文字和阅读的热爱。",
                    content: [
                        {
                            index: 1,
                            t: "绘本内容",
                            a: "《A Walk in the Words》通过一个小男孩的视角，带领读者进入一个由文字构成的奇妙世界。在这个世界里，文字不仅仅是纸上的符号，它们变成了可以互动的实体。小男孩在这些文字中行走、奔跑、跳跃，甚至与它们对话。通过这种互动，他体验了文字的力量和美丽，以及它们如何组合在一起创造意义。"
                        },
                        {
                            index: 2,
                            t: "绘本特色",
                            a: "丰富的想象力：Talbott将文字和字母赋予了生命，让它们在页面上跳跃和舞蹈，这种想象力的展现能够激发孩子们的创造力。\n精美的插画：书中的插画色彩丰富，细节精致，为孩子们提供了一个视觉上的盛宴。\n互动性：绘本鼓励孩子们与文字互动，通过触摸、声音和动作来体验文字，这种互动性有助于提高孩子们的语言能力和阅读兴趣。\n教育意义：通过将文字视觉化，这本书帮助孩子们理解字母和单词的构成，以及它们如何组合成句子和故事。\n适合年龄：这本书适合不同年龄段的孩子，对于幼儿来说，它可以是一个视觉和触觉的探索；对于稍大一些的孩子，它可以是一个阅读和写作的启发。"
                        },
                    ]
                },
                {
                    id: 2,
                    title: "《我，一点儿也不懒！》",
                    explain: [{ index: 1, e: "作者：[日]品川裕香" }, { index: 2, e: "绘者：[日]北原明日香" }, { index: 3, e: "译者：丁丁虫" }, { index: 4, e: " 版本：青岛出版社" }],
                    src: "./images/儿童阅读2.png",
                    intro: "这是一本非常特殊而感人的绘本，作者是日本研究该领域的专家品川裕香。这本书的主人公是她接触过的所有阅读障碍群体的缩影，她希望通过这本小书，让普通人对阅读障碍症有所了解，也想给孩子已经出现阅读障碍问题的家长一些信心，只要早发现、早干预，孩子会和其他小朋友一样，健康成长。",
                    content: [
                        {
                            index: 1,
                            t: "故事简介",
                            a: "《我，一点儿也不懒！》讲述了一个关于自我认知和成长的故事。主角是一个被周围人认为懒惰的孩子，他总是被误解和批评。然而，这个孩子内心有着丰富的想象力和创造力，他只是需要找到合适的方式去表达自己。"
                        },
                        {
                            index: 2,
                            t: "主要角色",
                            a: "主角：一个充满想象力的孩子，他的行为常常被误解为懒惰，但实际上他只是在用自己的方式探索世界。\n家长和老师：他们代表了成人世界的期望和规范，有时他们的误解和批评会让孩子感到沮丧。\n朋友：主角的朋友们，他们有的理解和支持主角，有的则和成人一样持有偏见。"
                        },
                        {
                            index: 3,
                            t: "教育意义",
                            a: "这本书通过主角的视角，探讨了孩子们在成长过程中可能遇到的自我认同问题。它鼓励孩子们勇敢地做自己，不要因为别人的误解而放弃自己的兴趣和梦想。同时，它也提醒成人要更加理解和尊重孩子的个性和创造力。"
                        },
                        {
                            index: 4,
                            t: "文学特色",
                            a: "品川裕香的写作风格通常温馨而富有启发性，她善于通过细腻的情感描写和生动的对话，让读者深入理解角色的内心世界。在《我，一点儿也不懒！》中，她用幽默和温情的笔触描绘了主角的成长历程，让读者在轻松愉快的阅读中获得深刻的启示。"
                        },
                    ]
                },
                {
                    id: 3,
                    title: "《聪明的笨小孩》",
                    explain: [{ index: 1, e: "作者：[美]萨莉·施威茨" }, { index: 2, e: "译者：刘丽、康翠萍等" }, { index: 3, e: "版本：北京师范大学出版社，2019年3月" }],
                    src: "./images/家长阅读1.png",
                    intro: "儿童学习阅读的过程，有着极大的个体差异。这本书被誉为儿童阅读障碍领域的圣经，作者萨莉·施威茨是一位神经科学家，通过多年的经验，她揭示了阅读和阅读障碍的内在运作机制，为阅读障碍儿童的成长提供了积极正面的建议。",
                    content: [
                        {
                            index: 1,
                            t: "内容简介",
                            a: "在美国，大约有20%的人存在阅读障碍问题。这些孩子常常因为学业不佳，而被认为是笨小孩、懒小孩。耶鲁大学医学院萨莉?施威茨教授认为，阅读能力是人类通过后天学习的技能，存在阅读障碍的孩子，不仅仅影响语文读写能力，还会全面影响其他学科和社会能力的养成。什么是阅读障碍？为什么一些高智商、高天赋的人也会有阅读困难？如何在人生的各发展阶段（学前、学龄期、青少年期、成人期）识别阅读障碍？家有阅读障碍儿童，家长应该才能培养孩子的自尊，发现他们的优势？本书指出，只要有科学的方法与恒心便可以让每个人战胜阅读障碍。她在本书中用浅显易懂的方式解读了这一复杂领域，并提供了明确、可行的工具，为阅读障碍儿童的积极成长提供了更正面的建议。"
                        },
                    ]
                },
                {
                    id: 4,
                    title: "《走出迷宫：认识发展性阅读障碍》",
                    explain: [{ index: 1, e: "作者：孟祥芝" }, { index: 2, e: "版本：北京大学出版社，2018年6月" }],
                    src: "./images/家长阅读3.png",
                    intro: "",
                    content: [
                        {
                            index: 1,
                            t: "内容简介",
                            a: "如何结合现实进行实践操作，可能是家长和老师更感兴趣的焦点。孟祥芝希望传递这些观念：阅读障碍可以通过适当干预得到改善，中文阅读障碍干预需要突出汉字表意文字特性，以及阅读障碍者同样拥有某些优势。\n阅读是人类文化传承的重要纽带和工具，也是个体发展的重要内容和途径。然而，在我国约有5%~8%的学龄儿童存在发展性阅读障碍问题。这些儿童与同龄人并无差异，听和说都没问题，甚至在某些领域还有特殊天赋，只是读写技能的发展显著落后，无法流利、准确的读字和写字。\n由于家长、老师及社会各界人士欠缺对该问题的科学认识，很多受阅读障碍困扰的孩子面临着被错误评估和对待的风险，这些孩子常被说成是“笨小孩”“不上进”。这些孩子及其家庭，好似身处“迷宫”之中。\n《走出迷宫：认识发展性阅读障碍》分为理论篇和应用篇。理论篇简要介绍了目前学术界对阅读障碍的基本认识、经典理论框架和**研究成果。应用篇重点介绍了如何应对阅读障碍，从评估到干预都有详细的说明。需要指出的是，文中介绍的多种干预策略不仅适用于阅读障碍儿童提升读写技能，也可供初学阅读者参考。"
                        },
                    ]
                },
                {
                    id: 5,
                    title: "《走出儿童阅读障碍的困境》",
                    explain: [{ index: 1, e: "主编：张明" }, { index: 2, e: "版本：科学出版社，2017年11月" }],
                    src: "./images/家长阅读2.jpg",
                    intro: "本书作为“完全图解现代儿童教育心理新话题”丛书之一，运用通俗易懂的语言、形象生动的图表、简单实用的问卷等，将儿童阅读障碍的相关内容，以各个独立的话题呈现，阐述了儿童阅读障碍的相关知识。内容包括阅读障碍的基础知识、阅读障碍的诊断及其影响因素、家长与儿童如何应对阅读障碍，以及阅读障碍儿童的指导与矫正方法。",
                    content: [
                        {
                            index: 1,
                            t: "书籍内容",
                            a: "《走出儿童阅读障碍的困境》涵盖了阅读障碍的定义、识别、评估和干预等多个方面。书中详细讨论了阅读障碍的多种表现形式，包括但不限于识字困难、阅读理解障碍和写作障碍。此外，书中还探讨了阅读障碍的神经生物学基础，以及如何通过教育和心理干预来帮助受影响的儿童。"
                        },
                        {
                            index: 2,
                            t: "教育和干预策略",
                            a: "书中提供了一系列的教育和干预策略，旨在帮助有阅读障碍的儿童提高阅读技能。这些策略包括：\n个性化教学计划：根据每个孩子的特定需求制定教学计划。\n多感官学习方法：利用视觉、听觉和触觉等多种感官来辅助学习。\n技术辅助：使用计算机和软件工具来支持阅读和写作技能的发展。\n认知策略训练：教授孩子们如何使用记忆技巧和问题解决策略来克服阅读障碍。"
                        },
                    ]
                },
                {
                    id: 6,
                    title: "《请爱我本来的样子》",
                    explain: [{ index: 1, e: "作者：本·福斯 " }, { index: 2, e: "版本：中国纺织出版社，2023年10月" }],
                    src: "./images/亲子阅读1.jpg",
                    intro: "这本书告诉我们即使阅读障碍儿童可能在阅读上存在困难，他们的学习能力却没有任何问题。相反他们先天的优势技能，包括语言、社交、空间、动觉、视觉、数学、音乐能力等，是他们获取知识的关键。找出他们的个人优势，并利用这些技能为他们的学习和人生超越找到一个出口。通过专注于学习，而不是专注于标准方式的阅读，就可以培养阅读障碍孩子的自信心，使其在课堂内外都能茁壮成长。",
                    content: [
                        {
                            index: 1,
                            t: "书籍内容",
                            a: "《请爱我本来的样子》通过真实的故事和个人经历，探讨了如何接纳和理解那些在学习和社交方面面临挑战的孩子。本·福斯在书中分享了他与ADHD和其他学习障碍作斗争的经历，以及他如何克服这些挑战并取得成功。"
                        },
                        {
                            index: 2,
                            t: "主要信息",
                            a: "书中传达的主要信息包括：\n自我接纳：鼓励孩子们接受自己的独特性，包括他们的优势和挑战。\n家庭支持：强调家庭在支持有特殊需求儿童中的重要性。\n教育适应性：讨论了教育系统如何更好地适应不同学习风格的儿童。\n社会认知：提高社会对学习差异和障碍的认识和理解。\n积极心态：鼓励孩子们保持积极的心态，相信自己能够克服困难。"
                        },
                    ]
                },
                {
                    id: 7,
                    title: "《帮助孩子克服读写障碍》",
                    explain: [{ index: 1, e: "作者：[美]丹尼尔·富兰克林 " }, { index: 2, e: "版本：北京联合出版公司，2023年11月" }],
                    src: "./images/亲子阅读2.jpg",
                    intro: "教育专家丹尼尔·富兰克林博士以神经科学、教育学和依恋式教学的前沿研究为基础，结合自己30多年的一线教育案例，深度剖析了读写障碍、阅读障碍、计算障碍、信息处理缺陷等近10种常见的学习障碍。并针对各类学习障碍提供了家庭团队目标设定法等，可应用于校园学习和日常情景中的各种策略工具和实践方法（不论孩子是否有学习障碍均可阅读使用）。让家长精准识别孩子学习问题的根本原因，为孩子打造适合自己的学习方式。"
                }],
            successlist: [
                {
                    id: 1,
                    title: "逆风飞翔：一个读写障碍少年的纽约大学梦",
                    content: [
                        { t: "在这个世界上，有些孩子被赋予了特殊的挑战，他们被称为读写障碍者。他们的世界里，字母和数字似乎总是调皮地变换位置，让他们在常规的学习路径上步履蹒跚。魏天翔，一个19岁的男孩，就是这样一位特殊的挑战者。他的故事，是关于勇气、坚持和母爱的颂歌，也是关于如何将不可能变为可能的奇迹。" },
                        { src: "./images/成功案例3.jpg" },
                        { t: "魏天翔从小就展现出了非凡的艺术天赋，无论是钢琴、武术还是计算机编程，他都能轻松驾驭。然而，他的学习之路并不平坦。在小学二年级时，他被诊断出患有读写障碍和多动症，这让他在学校的常规学习中备受挫折。他的母亲，孔庆华，没有放弃，而是开始了一段寻找适合儿子成长和学习的漫长旅程。" },
                        { t: "孔庆华带着魏天翔转学多次，但情况并未改善。最终，她决定将儿子带回家，开始家庭教学。她不仅挖掘了儿子的潜能，还培养了他在音乐、绘画、武术、机器人等方面的爱好，让他在开放式的学习环境中发展。在孔庆华的培养下，魏天翔在自己喜欢的领域获得了诸多荣誉：3D创新模型赛第二名、美声唱法大赛钻石奖、英皇钢琴五级、油画大赛铂金奖……同时成了一个会做家务、修家电、会下厨的“暖男”。" },
                        { src: "./images/成功案例31.jpg", a: "魏天翔练习武术" },
                        { src: "./images/成功案例32.jpg", a: "魏天翔的乐器" },
                        { t: "2018年，15岁的魏天翔考入了美国一所知名高中，四年后，他成功考入了纽约大学史丹赫教育学院，攻读特殊教育专业。如今，21岁的他已经成为了一名英语流利、热爱阅读和思考的大二学生。" },
                        { src: "./images/成功案例33.jpg", a: "青少年科技创新大赛获奖证书" },
                        { src: "./images/成功案例34.jpg", a: "魏天翔与同学老师在一起" },
                        { t: "魏天翔的成功并非偶然。他的母亲孔庆华，用她的坚持和智慧，为儿子开辟了一条独特的学习之路。她不仅为魏天翔提供了丰富的艺术和文化体验，还用各种创新的方法帮助他克服学习上的障碍。比如，通过形象的比喻来帮助他理解数学公式，或者用专门的软件来训练他的读写能力。" },
                        { t: "魏天翔的故事告诉我们，每个孩子都是独一无二的，他们需要的不仅仅是教育，更是理解和支持。孔庆华的教育经验可以总结为一句话：扬长避短，保护孩子的自信心和求知欲，以点带面让孩子自主学习。" },
                        { t: "在纽约大学，魏天翔选择了特殊教育专业，他希望用自己的经历和所学来帮助更多像他一样的孩子。他的目标是跨考法学专业研究生，从法律和政策角度维护读写障碍孩子的权益。他曾说：“如果我的经历是奢侈品，那我就要把这个奢侈品平民化，让每个孩子都能够得到享用。”" },
                        { t: "魏天翔的故事是关于挑战、成长和希望的故事。他用自己的经历告诉我们，无论面对多大的困难，只要有爱、有坚持、有正确的方法，每个人都能够逆风飞翔，实现自己的梦想。他的故事，是给所有正在与读写障碍斗争的孩子和家庭的希望之光，也是对教育多样性和包容性的有力证明。让我们一起为魏天翔的纽约大学梦喝彩，也为每一个勇敢追梦的孩子加油。" },
                    ]
                },
                {
                    id: 2,
                    title: "在挑战中绽放：墨墨的读写困难与自我探索之旅",
                    content: [
                        { t: "在这个充满挑战的世界里，每个孩子都是独一无二的星辰，他们以自己的方式闪耀。墨墨，一个15岁的少年，用他的故事告诉我们，即使在读写困难的阴影下，也能发现自我，绽放光芒。" },
                        { src: "./images/成功案例4.jpg" },
                        { t: "墨墨的生活是多彩的，他热爱艺术与生活，对生物、绘画、烹饪、羽毛球、摄影和书法等有着浓厚的兴趣。然而，他的成长之路并不平坦。在深圳的重点学校，他感到迷茫和压力重重，成绩不佳让他感到自卑。但墨墨的母亲，用她的爱和智慧，为他撑起了一片天空。当墨墨被诊断出读写困难时，她没有放弃，而是选择了一条不同寻常的道路——带着墨墨去大理的村小，寻找更适合他的学习环境。" },
                        { src: "./images/成功案例41.jpg", a: "墨墨在山野间" },
                        { t: "在大理，墨墨体验到了与城市截然不同的宽松和宁静。他开始有时间去做自己感兴趣的事情，去爬山，去观察大自然，去画画。他的生活变得充实，他的内心也渐渐平静。但青春期的动荡让他开始思考更深层次的问题：为什么我与他人不一样？我为了什么而学习？这些问题让他感到孤独和痛苦，但也成为他思考的引擎。" },
                        { t: "墨墨的故事告诉我们，认识自己是一个漫长的旅程。他从一个和睦的家庭出发，通过观察他人，最终到达自我。他的母亲，用她的宽容和支持，给了他足够的时间和空间去探索。在深圳，她没有要求他的成绩；在大理，她甚至写信给学校，告诉老师墨墨以后不用交作业了。但墨墨反而更加努力学习，他的内驱力被激发，他开始为了自己而学习。" },
                        { t: "墨墨的学习态度也发生了变化。他从觉得学科无聊，到发现它们的有趣之处。他开始用研究精神去学习，用自学的方式去探索。他发现，自由对他来说至关重要，没有自由，他就会特别恼怒。他用自己的方式去学习，去克服困难，去追求进步。" },
                        { t: "墨墨的兴趣爱好与他的读写困难有着密切的联系。他对大自然的细致观察，让他对颜色非常敏感，他的画作是对大自然的抄袭。他对食材的敏感，让他在烹饪中找到和谐。他的学习方式，像一棵树伸展树枝长开叶子，将知识归类并产生链接。" },
                        { src: "./images/成功案例42.jpg", a: "墨墨与他的生态鱼缸" },
                        { t: "尽管墨墨在英语和写字上仍然面临挑战，但他对自己的未来充满信心。他相信，通过自己的努力，可以克服这些困难。他已经开始摸索自己的英语学习方法，用AI帮助自己记忆单词，用自然拼读提高写作能力。" },
                        { t: "墨墨的故事，是对所有面临读写困难的孩子和家庭的鼓励。他告诉我们，读写困难并不是终点，而是一个新的开始。他用自己的经历告诉我们，每个人都有自己的优势和特质，重要的是发现它们，利用它们，让它们成为自己成长的动力。" },
                        { t: "最后，墨墨想对学弟学妹们说：“尽管你们现在可能正处于一个黑暗、低迷的时刻，但只要每天都在进步，一定有走出阴霾的那一天。”他也想对读困家长们说：“家长的支持真的很重要。请不要将孩子变成一个标准的优秀的人，而是让他成为他自己。”墨墨的故事，是关于挑战、成长和自我发现的故事，是关于如何在困难中找到自己的光芒，并让它照亮前行的道路。" },
                        { src: "./images/成功案例43.png" }
                    ]
                },
                {
                    id: 3,
                    title: "音符与字母：冯思齐的音乐之旅与阅读障碍",
                    content: [
                        { t: "在这个世界上，每个孩子都是独特的，他们以不同的方式感知世界，以不同的速度成长。冯思齐，一个四年级的少年，他的故事是关于挑战、发现和接受的旅程。他被诊断为阅读障碍，这让他的学习之路充满了艰辛，但他的音乐天赋却如同璀璨的星辰，照亮了他的未来。" },
                        { src: "./images/成功案例2.jpg" },
                        { t: "阅读障碍，这个在学术上被称为影响个体阅读准确性、流畅性和理解力的难题，对齐齐来说，是每天的挑战。他看到的汉字不是方块字，而是一幅幅图画。他说：“这个‘大’字，两只脚大大的，这个是‘小’字，只有两个点。”但对于其他复杂的字，他的记忆却如同断线的风筝，难以把握。" },
                        { src: "./images/成功案例21.jpg" },
                        { t: "齐齐的妈妈，赵影，是一个勇敢的母亲。在发现儿子的读写困难后，她没有放弃，而是带着齐齐离开了重庆，去杭州寻求新的教育机会。这是一个艰难的决定，但赵影坚信，每个孩子都有其独特的天赋，而齐齐的音乐才能就是他的超能力。" },
                        { src: "./images/成功案例22.jpg" },
                        { t: "在杭州的新学校，齐齐的生活开始有了转机。他的音乐课上，他展现出了非凡的专注和安静。音乐对他来说，不仅仅是旋律，而是一幅幅生动的画面。他说：“我耳朵里的歌，是分有故事的和没故事的。”他的音乐世界丰富多彩，充满了故事和情感。" },
                        { t: "然而，阅读障碍也给齐齐的音乐之路带来了障碍。他无法正常读谱，对那些线条和音符感到困惑。但齐齐的妈妈并没有被这个难题打败，她用简单的英文字母替换音符，帮助齐齐记忆。这种创新的方法，让齐齐能够继续他的音乐之旅。" },
                        { src: "./images/成功案例23.jpg" },
                        { src: "./images/成功案例24.jpg" },
                        { t: "齐齐的故事告诉我们，爱和接纳是克服困难的关键。他的妈妈辞去了工作，全程陪伴他来到陌生的城市，这种坚韧和笃定，以及新学校老师更加包容的教育方式，都让我们看到了希望。齐齐的老师陈婉冰说：“他能够在语文的发散想象力方面，比一般的孩子给的更多，常常能给我带来惊喜。”" },
                        { t: "齐齐的故事也是关于如何用适合他们的方式帮助孩子们自由生长的故事。他的妈妈赵影说：“完全无条件接纳他们本身的样子。因为这个是一个特质，它不是一种疾病。”她的话语提醒我们，有些困难我们不是真的要解决，有些困难还可以绕过去。我们要把目光放长远，放到他们以后成年到社会上，他们在有些能力上有缺陷就不那么重要了。" },
                        { src: "./images/成功案例25.jpg" },
                        { t: "齐齐的故事是关于如何在挑战中找到自己的道路，如何在困难中发现和培养自己的特长。他的故事激励着每一个面临阅读障碍的孩子和家庭，告诉他们，即使在逆境中，也有可能找到自己的光明。以爱之名，让我们看见、包容并理解每一个孩子的不同，让每一个特别的他们都能闪闪发光。" },
                    ]
                }
            ]
        },
        created() {
            const url = window.location.href;
            const urlParams = new URLSearchParams(new URL(url).search);
            var news, book, success;
            const id = urlParams.get('id');
            this.ID = id;
            if (urlParams.has('news')) {
                news = urlParams.get('news');
                this.news = "block";
            }
            if (urlParams.has('book')) {
                book = urlParams.get('book');
                this.book = "block";
            }
            if (urlParams.has('success')) {
                success = urlParams.get('success');
                this.success = "block";
            }
            console.log(this.news);
            console.log(this.book);
            console.log(this.success);
            console.log(this.ID);
        },
        methods: {
            add() {
                if (this.f1 > 28 && this.f1 < 48) {
                    this.f1 += 2;
                }
                if (this.f2 > 20 && this.f2 < 40) {
                    this.f2 += 2;
                }
                if (this.f3 > 8 && this.f3 < 28) {
                    this.f3 += 2;
                }
            },
            reduce() {
                if (this.f1 > 30 && this.f1 < 50) {
                    this.f1 -= 2;
                }
                if (this.f2 > 22 && this.f2 < 42) {
                    this.f2 -= 2;
                }
                if (this.f3 > 10 && this.f3 < 30) {
                    this.f3 -= 2;
                }
            },
            speak() {
                var fullText = null;
                if (this.news == "block") {
                    fullText = this.newslist[this.ID - 1].title + '。';
                    this.newslist[this.ID - 1].content.forEach(item => {
                        if (item.t) {
                            fullText += item.t;
                        }
                    });
                }
                else if (this.book == "block") {
                    fullText = this.booklist[this.ID - 1].title + '。' + this.booklist[this.ID - 1].intro;
                    if (this.booklist[this.ID - 1].content) {
                        this.booklist[this.ID - 1].content.forEach(item => {
                            if (item.t) {
                                fullText += item.t + "。";
                            }
                            if (item.a) {
                                fullText += item.a;
                            }
                        });
                    }

                }
                else if (this.success == "block") {
                    fullText = this.successlist[this.ID - 1].title + '。';
                    this.successlist[this.ID - 1].content.forEach(item => {
                        if (item.t) {
                            fullText += item.t;
                        }
                    });
                }

                console.log(fullText);
                if (!window.SpeechSynthesisUtterance) {
                    console.warn('当前浏览器不支持文字转语音服务');
                    return;
                }
                const utterance = new SpeechSynthesisUtterance(fullText);
                utterance.lang = 'zn-CN';
                utterance.volume = 10;
                utterance.rate = 1;
                utterance.pitch = 1;
                window.speechSynthesis.speak(utterance);
            }
        },
    })
</script>

</html>