.header {
    margin: 0, auto;
    height: 80px;
    width: 1642px;
    background-color: rgba(248, 243, 235, 0.5);
}

.header .logo {
    float: left;
    width: 180px;
    height: 80px;
    padding-left: 70px;
    padding-top: 5px;
    margin-left: 180px;
}

.daohanglan {
    float: left;
    height: 80px;
    width: 980px;
}

.daohanglan ul {
    margin-left: 30px;
}

.daohanglan li {
    float: left;
    margin-left: 60px;
    line-height: 80px;
}

.daohanglan li a {
    padding-bottom: 29px;
}

.daohanglan li a:hover {
    color: #64a138;
    border-bottom: 3px solid #64a138;
}

.daohanglan .ziyuan {
    border-bottom: 3px solid #64a138;
    color: #64a138;
}

.search {
    position: relative;
    margin-top: 25px;
    float: left;
    width: 175px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}

.search input {
    width: 172px;
    height: 28px;
    padding-left: 30px;
}

.search input::placeholder {
    font-size: 14px;
    color: #dcdcdc;
}

.search span {
    position: absolute;
    left: 2px;
    right: 0;
    top: 3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(images/sprites.png);
    background-position: -79px -69px;
}



.banner {
    height: 500px;
    width: 1642px;
    background-color: rgb(252, 217, 163);
    padding-left: 300px;
}














.w {
    width: 1642px;
    height: 700px;
    background-color: rgba(248, 243, 235, 0.5);
    box-shadow: 0px 15px 15px 10px rgba(248, 243, 235, 0.5);
}

.cedaohang {
    float: left;
    width: 200px;
    height: 600px;
    margin-top: 95px;
}

.cedaohang li {
    width: 200px;
    height: 80px;
    padding-left: 65px;
    line-height: 80px;
    font-size: larger;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #dcdc93;
    margin-top: 15px;
}

.cedaohang .first {
    background-color: rgb(167, 212, 197);
}

.cedaohang a:hover {
    color: #64A138;
}

.source {
    height: 700px;
    width: 1380px;
    ;
    float: left;
}

.fenlei {
    height: 80px;
    width: 1300px;
    margin-left: 50px;
    padding-top: 45px;
    padding-left: 20px;
}

.fenlei li {
    float: left;
    margin-right: 30px;
    font-size: 20px;
    color: #333;
}

.fenlei a:hover {
    background-color: rgb(167, 212, 197);
    border-radius: 10px;
}

.fenlei .first {
    background-color: rgb(167, 212, 197);
    border-radius: 10px;
}


.source1 .s1,
.source1 .s2 {
    float: left;
    width: 620px;
    height: 380px;
    margin-left: 70px;
    margin-top: 25px;
}

.source1 .s1 h3,
.source1 .s2 h3 {
    font: bold normal 24px/35px "华文楷体";
    color: #64A138;
    border-bottom: solid 2px #64A138;
}

.source1 .s1 h3 {
    width: 280px;
}

.source1 .s2 h3 {
    width: 270px;
}

.source1 .s1 h4,
.source1 .s2 h4 {
    font: normal normal 14px/20px "华文楷体";
    margin-top: 5px;
}

.source1 .s1 .book,
.source1 .s2 .book {
    width: 620px;
    height: 300px;
}

.source1 .s1 .pic {
    float: left;
    width: 260px;
    padding-top: 10px;
}

.source1 .s2 .pic {
    float: left;
    width: 300px;
    padding-top: 20px;
}

.source1 .s1 .intro {
    float: left;
    width: 320px;
    padding: 20px;
    font: normal normal 18px/30px "华文楷体";
    padding-top: 70px;
}

.source1 .s2 .intro {
    float: left;
    width: 320px;
    padding: 20px;
    font: normal normal 18px/30px "华文楷体";
    padding-top: 50px;
}












































.footer {
    height: 300px;
    width: 1642px;
}

.footer .top {
    padding-top: 25px;
    height: 200px;
    border-bottom: 2px solid #64a138;
}

.footer .logo {
    float: left;
    color: #333;
    margin-left: 350px;
    width: 180px;
    height: 150px;
    padding-top: 38px;
    padding-left: 75px;
    margin-right: 100px;
}

.footer .mid {
    padding-top: 30px;
    padding-left: 45px;
    float: left;
    color: #333;
    width: 300px;
    height: 150px;
    margin-right: 100px;
}

.footer .icon1 {
    padding-top: 58px;
    padding-left: 58px;
    float: left;
    color: #333;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.footer .icon2 {
    padding-top: 58px;
    padding-left: 58px;
    float: left;
    color: #333;
    width: 150px;
    height: 150px;
}

.footer .top li .icon a {
    float: left;
    margin-right: 30px;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url();
    background-size: contain;
}

.footer .bottom {
    padding-top: 25px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.footr .bottom a {
    font-size: 14px;
    color: #333;
}

.footer .bottom p {
    margin-bottom: 15px;
}
