.all {
    width: 1655px;
    margin: auto;
}

.header {
    height: 100px;
    width: 1655px;
    background-color: rgb(255, 250, 244);
    position: fixed;
    top: 0;
    left: auto;
    z-index: 999;
}

.header .logo {
    float: left;
    width: 150px;
    height: 100px;
    padding-top: 15px;
    margin-left: 10%;
}

.daohanglan {
    float: left;
    height: 100px;
    width: 960px;
}

.daohanglan ul {
    margin-left: 20px;
}

.daohanglan li {
    float: left;
    margin-left: 5%;
    line-height: 100px;
    font-size: larger;
}

.daohanglan li a {
    padding-bottom: 30px;
}

.daohanglan li a:hover {
    color: #64a138;
    border-bottom: 3px solid #64a138;
    font-weight: 700;
}

.daohanglan .shouye {
    border-bottom: 3px solid #64a138;
    color: #64a138;
    font-weight: 700;
}

.search {
    position: relative;
    margin-top: 35px;
    margin-left: -10px;
    float: left;
    width: 10%;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}

.search input {
    width: 172px;
    height: 28px;
    padding-left: 30px;
}

.search input::placeholder {
    font-size: 14px;
    color: #dcdcdc;
}

.search span {
    position: absolute;
    left: 2px;
    right: 0;
    top: 3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(images/sprites.png);
    background-position: -79px -69px;
}

.login {
    float: left;
    line-height: 100px;
    font-size: larger;
    margin-left: 60px;
}

.login a:hover {
    color: #64a138;
    font-weight: 700;
}


.banner {
    position: relative;
    height: 500px;
    width: 1655px;
    background-color: rgb(167, 212, 197);
    padding-left: 420px;
    margin-top: 100px;
}











.w {
    width: 1642px;
    background-color: rgba(248, 243, 235, 0.5);
    box-shadow: 0px 15px 15px 10px rgba(248, 243, 235, 0.5);
}


.cedaohang {
    float: left;
    width: 200px;
    height: 784px;
    padding-top: 55px;
    position: sticky;
    top: 110px;
}

.cedaohang li {
    width: 200px;
    height: 80px;
    padding-left: 65px;
    line-height: 80px;
    font-size: larger;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 15px;
}

.cedaohang li:hover {
    color: #64A138;
    cursor: pointer;
}
















.science {
    float: left;
    height: 2384px;
    width: 1442px;
    padding-left: 30px;
}

.science .question1 {
    width: 1380px;
    height: 480px;
    margin-top: 55px;
}

.question1 .question11,
.question1 .question12 {
    float: left;
    height: 450px;
    width: 680px;
    margin-left: 5px;
}

.question1 .question11 .main,
.question1 .question12 .main {
    float: left;
    width: 680px;
    height: 80px;
    font: bold normal 30px/80px "华文楷体";
    color: #64A138;
    text-align: center;
}

.answera,
.answerb {
    width: 680px;
    height: 370px;
    margin-top: 80px;
}

.answera .answer1,
.answera .answer2,
.answera .answer3 {
    width: 600px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    border: dotted 2px #64a138;
    border-radius: 10px;
    font: normal normal 18px/22px "华文楷体";
}

.answerb .answer1,
.answerb .answer2 {
    float: left;
    width: 300px;
    padding: 10px;
    border: dotted 2px #64a138;
    border-radius: 10px;
    font: normal normal 18px/22px "华文楷体";
}

.answerb .answer1 {
    margin-left: 40px;
}

.answerb .answer2 {
    margin-left: 20px;
}















.science .question3,
.science .question4,
.science .question5 {
    width: 1380px;
    height: 80px;
    font: bold normal 30px/80px "华文楷体";
    color: #64A138;
    text-align: center;
    margin-top: 55px;
}

.answerc {
    width: 1380px;
    height: 300px;
}

.answerc .answer1,
.answerc .answer2,
.answerc .answer3 {
    float: left;
    width: 350px;
    height: 300px;
    margin-left: 40px;
}

.answerc .answer1 {
    margin-left: 125px;
}

.answerc .answer1 .main,
.answerc .answer2 .main,
.answerc .answer3 .main {
    width: 350px;
    height: 50px;
    font: normal bold 24px/30px "华文楷体";
    padding: 10px;
    border-bottom: solid 2px #64a138;
}

.answerc .answer1 .intro,
.answerc .answer2 .intro,
.answerc .answer3 .intro {
    width: 350px;
    height: 320px;
    padding: 10px;
    font: normal normal 18px/20px "华文楷体";
}




.a {
    width: 1380px;
    height: 60px;
    font: normal normal 18px/40px "华文楷体";
    text-align: center;
}

.answerd {
    width: 1380px;
    height: 430px;
}

.answerd .answer1,
.answerd .answer2,
.answerd .answer3 {
    float: left;
    width: 350px;
    height: 370px;
    margin-left: 40px;
}

.answerd .answer1 {
    margin-left: 125px;
}

.answerd .answer1 .main,
.answerd .answer2 .main,
.answerd .answer3 .main {
    width: 350px;
    height: 50px;
    font: normal bold 24px/30px "华文楷体";
    padding: 10px;
    border-bottom: solid 2px #64a138;
}

.answerd .answer1 .intro,
.answerd .answer2 .intro,
.answerd .answer3 .intro {
    width: 350px;
    height: 320px;
    padding: 10px;
    font: normal normal 18px/20px "华文楷体";
}




.answere {
    width: 1380px;
    height: 330px;
}

.answere .answer1,
.answere .answer2,
.answere .answer3 {
    float: left;
    width: 380px;
    height: 300px;
    margin-left: 40px;
}

.answere .answer1 {
    margin-left: 80px;
}

.answere .answer1 .main,
.answere .answer2 .main,
.answere .answer3 .main {
    width: 380px;
    height: 80px;
    font: normal bold 24px/30px "华文楷体";
    padding: 10px;
    border-bottom: solid 2px #64a138;
}

.answere .answer1 .intro,
.answere .answer2 .intro,
.answere .answer3 .intro {
    width: 380px;
    height: 220px;
    padding: 10px;
    font: normal normal 18px/20px "华文楷体";
}



.answerf {
    width: 1380px;
    height: 420px;
}

.answerf .answer1,
.answerf .answer2 {
    float: left;
    width: 450px;
    height: 370px;
    margin-left: 70px;
}

.answerf .answer1 {
    margin-left: 200px;
}

.answerf .answer1 .main,
.answerf .answer2 .main {
    width: 450px;
    height: 80px;
    font: normal bold 24px/30px "华文楷体";
    padding: 10px;
    border-bottom: solid 2px #64a138;
}

.answerf .answer1 .intro,
.answerf .answer2 .intro {
    width: 450px;
    height: 290px;
    padding: 10px;
    font: normal normal 18px/20px "华文楷体";
}







.news,
.video,
.story,
.book,
.success {
    float: left;
    width: 1442px;
    padding: 0px 50px;
}

.news1,
.video1,
.book1,
.success1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.news1 .content,
.video1 .content {
    width: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.news1 img,
.video1 img {
    height: 250px;
    width: 370px;
    margin-bottom: 10px;
}

.news1 .content:hover,
.news2 .content:hover,
.video1 a:hover,
.book1 .content:hover,
.success1 .content:hover {
    color: #64A138;
    cursor: pointer;
}

.news2 .content {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.story1 {
    margin-top: 70px;
}

.story1 .content {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.story1 .content .title {
    padding-bottom: 10px;
    border-bottom: 2px dashed #64A138;
    font-size: 30px;
    color: #64A138;
    font-family: "华文楷体";
}

.story1 .content .st {
    padding-top: 10px;
    line-height: 22px;
    font-size: 20px;
    font-family: "华文楷体";
}

.book1 .content,
.success .content {
    width: 427px;
    background-color: #fff;
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.book1 .title,
.success1 .title {
    font-size: 30px;
    color: #64A138;
}

.book1 .explain {
    float: left;
    margin-right: 30px;
    color: #b4b1b1;
}

.book1 .explaincontain {
    padding-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}

.book1 .contain,
.success1 .contain {
    clear: both;
}

.book1 img,
.success1 img {
    width: 160px;
    height: 200px;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}

.book1 .infro,
.success1 .infro {
    font-size: 14px;
    padding-top: 15px;
}

.success1 img {
    height: 200px;
    width: 180px;
}

































.footer {
    height: 300px;
    width: 1642px;
}

.footer .top {
    padding-top: 25px;
    height: 200px;
    border-bottom: 2px solid #64a138;
}

.footer .logo {
    float: left;
    color: #333;
    margin-left: 350px;
    width: 180px;
    height: 150px;
    padding-top: 38px;
    padding-left: 75px;
    margin-right: 100px;
}

.footer .mid {
    padding-top: 30px;
    padding-left: 45px;
    float: left;
    color: #333;
    width: 300px;
    height: 150px;
    margin-right: 100px;
}

.footer .icon {
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    width: 110px;
    height: 110px;
}

.footer .top li .icon a {
    float: left;
    margin-right: 30px;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url();
    background-size: contain;
}

.footer .bottom {
    padding-top: 25px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.footr .bottom a {
    font-size: 14px;
    color: #333;
}

.footer .bottom p {
    margin-bottom: 15px;
}