<!DOCTYPE html>
<html lang="zn-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI助手</title>
    <link rel="stylesheet" href="问答.css">
</head>

<body>
    <div id="app">
        <div class="qa">
            <div v-for="(item,index) in records" :key="index">
                <div class='ai' v-if='index%2 == 0'>{{item}}</div>
                <div class='user' v-else-if='index%2 == 1'>{{item}}</div>
            </div>
        </div>
        <div class="input">
            <button class="recommend recommend1" @click="gosend(r1)">{{r1}}</button>
            <button class="recommend" @click="gosend(r2)">{{r2}}</button>
            <button class="recommend" @click="gosend(r3)">{{r3}}</button>
            <textarea class="send-content" @keyup-enter="gosend(nowq)" v-model="nowq"></textarea>
            <button class="send" @click="gosend(nowq)"><img src="images/send.png" class='sendpic'></button>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            records: [
                '你好，有什么我可以帮助你的吗？',
                '学习障碍的类型有哪些？',
                "学习障碍的类型有很多种，主要包括以下几种：\n1. 注意力缺陷障碍（ADHD）：这是一种常见的学习障碍，表现为注意力不集中、多动、冲动等。\n2. 学习困难（LD）：这是最常见的类型，表现为在特定领域的学习能力不足或缺乏兴趣。\n3. 智力障碍：某些情况下，学习障碍可能与智力发育迟缓有关。\n4. 语言和沟通障碍：由于词汇量不足、语法错误或沟通方式不适当导致的语言和沟通障碍。\n5. 多重学习障碍：涉及多个学习领域的障碍，如数学、阅读、写作等。\n6. 社交技能障碍：在学习过程中，可能因为社交技巧不足或沟通障碍导致的困难。\n7. 特定文化或群体中的学习障碍：例如特定宗教信仰、学校环境或特定家庭背景下的学习障碍。请注意，以上只是学习障碍的一些常见类型，每个个体的情况可能会有所不同。如果您或他人面临学习障碍的问题，建议咨询专业医生或教育专家以获取更具体的帮助和建议。",
            ],
            nowq: '',
            nowa: '',
            r1: "学习障碍的定义",
            r2: "常见的学习障碍类型",
            r3: "学习障碍儿童有哪些早期迹象"
        },
        methods: {
            gosend(e) {
                console.log(e);
                const Records = this.records;
                Records.push(e);
                this.records = Records;
                this.nowq = e;
                console.log(this.records)
                console.log(this.nowq)
                this.getToken()
            },
            getToken() {
                const url_token = "https://aip.baidubce.com/oauth/2.0/token?client_id=NebVq1H0uxmxB1gJHfkBx6mR&client_secret=WfrvYKcFHvWJLZEsfwi4hZxKB6gZLNAs&grant_type=client_credentials";
                const that = this;
                axios({
                    url: url_token,
                    method: 'POST',
                    header: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                    },
                })
                    .then(response => {
                        console.log(response.data);
                        const access_token = response.data;
                        const url_chat = "https://aip.baidubce.com/rpc/2.0/ai_custom/v1/wenxinworkshop/chat/ernie-tiny-8k?access_token=" + access_token

                        const payload = {
                            "messages": [
                                {
                                    "role": "user",
                                    "content": this.nowq
                                }
                            ]
                        };

                        axios({
                            url: url_chat,
                            method: "POST",
                            data: payload,
                            header: {
                                'Content-Type': 'application/json'
                            },
                        })
                            .then(response => {
                                console.log(response.data);
                                const Records = that.records
                                Records.push(response.data)


                            })
                            .catch(error => {
                                throw new Error(error);
                            })
                    })
                    .catch(error => {
                        throw new Error(error);
                    })

            },
        }
    })
</script>

</html>